* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-shadow: 1px 1px 15px #000000;
	font-family: 'Raleway', sans-serif;
	background:
	linear-gradient(
		/*rgba(17, 126, 112, 0.75),
		rgba(0, 88, 255, 0.45)*/
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.0)

	),
	url(https://i.imgur.com/FwNMpJy.jpg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	align-items: center;
	width: 75%;		
}

.overview {
	padding: 3rem;
}

.fullname {
	width: 34%;
	/*background-color: yellow;*/
	font-weight: 300; 
	letter-spacing: 3px;
	margin-bottom: .5rem;
	color: #FFFFFF;
	transition-duration: .5s;
	/*font-weight: 300; */
	/*font-weight: 1000; */
	/*letter-spacing: .5px;*/
	/*margin-bottom: .5rem;*/

}

.fullname:hover {
	color: #ffc107;
}


.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
	/*color: #FFFFFF;*/
	/*text-transform: uppercase;*/
	/*letter-spacing: 2px;*/
	/*font-size: 1.5rem;*/
	/*margin-bottom: 1rem;*/
	/*font-weight: bolder;*/
}


.description {
	width: 84.5%;
	/*background-color: yellow;*/
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	/*margin-right: 2rem;*/
	line-height: 1.75;
	text-align: justify;

	color: #FFFFFF;
	transition-duration: .5s;
}

.description:hover {
	color: #ffc107;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr{
	/*width: 5rem;*/
	width: 45rem;
	border: none;
	height: 2px;
	/*background-color: #00BCD4;*/
	background-color: #FFFFFF;
	/*background-color: #000000;*/
	margin: 1.5rem 0;
	overflow: hidden;
}


a {
	color: #9af1fc;
	text-decoration: none;
	font-size: 20px;

}



.works {

	margin-top: 1.5rem;
	margin-bottom: 3rem;
	color: #FFFFFF;

}

.works h2 {
	width: 14%;
	/*background-color: yellow;*/
	font-weight:300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
	transition-duration: .5s;
}


.works h2:hover {
	color: #ffc107;
}


.works img {

	width: 60px;
	height: 60px;
	object-fit: cover;
	transition: width .7s, height .7s;
	/*transition: all ease 1s;*/


}

.works img:hover {
	width: 120px;
	height: 120px;
	/*transform: scale(2);*/
	

	
}



	/*border-radius: 50%;*/
	/*margin: auto;*/
	
}



.social-media a{
	

	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;

}



.social-media a:hover {
	opacity: .3;
}

.ad{

	margin: .5rem;
	font-size: 1rem;
	color: #FFFFFF;
	transition-duration: .5s;

}

.ad:hover {
	color: #ffc107;

}


.ad a:hover {
	opacity: .5;

}


.image-container {

	width: auto;
	padding: 3rem;
	

}

.image-container img {
	
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	margin: auto;
	display: block;	
}



/*PICTURE HOVER EFFECT*/

.image-container img {
  padding: 1px;
  background-color: transparent;
  transition: transform .2s; /* Animation */
  /*width: 200px;*/
  /*height: 200px;*/
  /*margin: 0 auto;*/
}

.image-container:hover img {
  transform: scale(1.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border-radius: 50%;
  border: 2px solid #ffc107;
  /*border-radius: 50%;*/	
}

/*PICTURE HOVER EFFECT*/







@media (max-width: 980px) {
.container {
flex-direction: column;
}


.image-container {
/*width: auto;*/
/*padding: 3rem 0 0;*/
/*margin-top: 50px;*/
}

.image-container img {
width: auto;
position: relative;
top: -100px;
left: -740px;
}


.overview {
order: 1;
padding: 3rem 0;

}

main {
background: 
   /* top, transparent #9C27B0 */       
   linear-gradient(
   	rgba(0, 0, 0, 0),
   	rgba(0, 0, 0, 0)
   ),      
   /* bottom, image */      
   /*url(https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);*/
   url(https://i.imgur.com/3NP3PXg.jpg);
  
   position: relative;
   background-position: center;
   background-size: cover;

}

body {
	background: none;
}

.job-title {
text-align: center;
margin-left: 150px;
width: 57%;
font-weight: bolder;
}

.fullname {
margin-top: 200px;
width: 100%;
text-align: center;

}

.description {
width: 100%;
text-align: center;
transform: scale(0.8);
text-align: justify;
}

h2 {
margin: auto;
}

hr {
margin: auto;
transform: scale(0.8);
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-left: 330px;
width: 10%;
margin-top: 3rem;	
}

.ad {
text-align: center;
width: 35%;
margin-left: 230px;
}

.works {
text-align: center;
margin-left: 110px;
width: 65%;
}


}